.popup{
    
    position: fixed;
    background-color: rgba(0,0,0, 0.3);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;

}

@media screen and (max-width: 650px){
    .popup{
        width: 100%;
    }
}
