.profile__edit-button{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../../../images/profile/Edit\ Button.svg");
    background-repeat: no-repeat;
    margin: 0;
    margin-left: 18px;
    margin-top: 16px;
    align-self: start;
    background-size: contain;
    border: none;
    background-color: rgba(0,0,0,0);

}

.profile__edit-button:hover{
    opacity: 0.6;
    transition: 0.2s;
}

@media screen and (max-width: 650px){
    .profile__edit-button{
        padding: 0;
        max-width: 18px;
        height: 18px;
        margin-top: 10px;
        margin-left: 10px;
    }
}