.popup__submit-dis{
    margin: 0 auto 0;
     font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    max-width: 358px;
    width: 100%;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 
 }
 
 .popup__submit-dis:focus{
     outline: none;
 }

 @media screen and (max-width: 650px){
    .popup__submit-dis{
        width: 236px;
    }
 }