.element__popup-text{
    margin: 0;
    margin-top: 10px;
    justify-self: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}