.element__trash{
    background-image: url('../../../images/elements/Trash.svg');
    width: 18px;
    height: 18px;
    position: absolute;
    border: none;
    margin: 0;
    top: 20px;
    right: 20px;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    background-repeat: no-repeat;
}

.element__trash:hover{
    opacity: .6;
    transform: .5s;
}