.profile-id{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 650px){
    .profile-id{
        justify-content: center;
    }
}
